* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html, body, main {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(160deg, #F33C3C 0%, #7E1F69 100%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-page {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// -----------------------------------------------------PAGE ONE-------------------------------------------------------



// ---------------------------------------Topics block---------------------------------------

.topics {
  height: 600px;
  margin-top: 87px;
  gap: 10px 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 260px;
  background: rgba(194, 117, 117, 0.4);
  border-radius: 13px;
  cursor: pointer;
}

.topic-active {
  border: 14px solid #000000;
}

.topic-title {
  font-size: 35px;
  color: #ffffff;
}
// ---------------------------------------Settings block---------------------------------------

.settings {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 70px;
  height: 127px;
  width: 1200px;
  background-color: #331D1D;
  border-radius: 34px;
  padding: 0px 40px;
}

.difficulty, .count {
  font-size: 30px;
  color: #ffffff;
  margin-right: 15px;
}

.difficulty-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
  background-color: #5B4040;
  border-radius: 18px;
  border: none;
  font-size: 30px;
  color: #CACACA;
  cursor: pointer;
}

.easy, .medium, .hard {
  display: none;
}

.easy:checked + .difficulty-button {
  border: 2px solid #DB6767;
}

.medium:checked + .difficulty-button {
  border: 2px solid #DB6767;
}

.hard:checked + .difficulty-button {
  border: 2px solid #DB6767;
}


.count-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 92px;
  background-color: #5B4040;
  border-radius: 18px;
  border: none;
  font-size: 30px;
  color: #CACACA;
  cursor: pointer;
}

.fifteen, .thirty, .fifty {
  display: none;
}

.fifteen:checked + .count-button {
  border: 2px solid #DB6767;
}

.thirty:checked + .count-button {
  border: 2px solid #DB6767;
}

.fifty:checked + .count-button {
  border: 2px solid #DB6767;
}



// ----------------------------------------Start button block----------------------------------------

.start-button {
  height: 100px;
  width: 370px;
  background-color: #262626;
  border-radius: 23px;
  margin-top: 74px;
  font-size: 61px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  &:hover {
    border: 2px solid #CC5252;
  }
}





// ------------------------------------------------PAGE TWO--------------------------------------------------------------



// ----------------------------------------Question block----------------------------------------


.question-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
  min-height: 350px;
  width: 1400px;
  background: rgba(91, 64, 64, 0.74);
  border-radius: 32px;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  color: #FFFFFF;
}



// ----------------------------------------Count block----------------------------------------


.count-and-lifes-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 124px 10px 124px;
  margin-top: 27px;
  height: 93px;
  width: 750px;
  background-color: rgba(91, 64, 64, 0.78);
  border-radius: 32px;
}

.count-block {
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
}



// ----------------------------------------Lifes block----------------------------------------

.lifes-block {
  display: flex;
  justify-content: flex-start;
  min-width: 240px;
  position: relative;
}

.life {
    width: 40px;
    height: 40px;
    background-color: red;
    transform: rotate(45deg);
    margin-right: 50px;
}

.life::before,
.life::after {
    content : '';
    display: block;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.life::before {
  top: -23px;
  left: 0;
}

.life::after {
  top: 0;
  left: -23px;
}   




// ----------------------------------------Answers block----------------------------------------

.answers-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 27px;
  min-height: 350px;
  width: 1400px;
  background: rgba(91, 64, 64, 0.74);
  border-radius: 32px;
  padding: 20px 20px;
}

.answer {
  cursor: pointer;
  border: none;
  background-color: #705757;
  border-radius: 25px;
  min-height: 150px;
  width: 300px;
  font-size: 43px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

.answer:hover {
  border: 10px solid rgba(249, 144, 144, 1);
}